{% extends 'dataroom/base_generic.html' %}
{% block title %}Data Room{% endblock %}
{% block content %}
<div class="mt-4">
    <h2>Data Room Investe Piauí</h2>
</div>
{% if user.is_authenticated %}
    <p>Seja Bem vindo(a), {{ user.username }}!</p>
{% endif %}
<div class="mt-4">
    <h3>Diretórios</h3>
    <ul class="list-group">
        {% for classification in classifications %}
            <li class="list-group-item">
                <a href="{% url 'classification_detail' classification.pk %}">{{ classification.name }}</a>
            </li>
        {% empty %}
            <li class="list-group-item">Nada encontrado.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
